.service_section.service_section--168
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    .container 
        .section__title 
            h2 Направления подготовки
        .container 
            .lists_cluster.lists_cluster--education.row
                ul.lists_cluster__list.col-12.col-lg-6
                    li.lists_cluster__item Заканчивание скважин
                    li.lists_cluster__item Буровые растворы
                    li.lists_cluster__item Проектирование скважин
                    li.lists_cluster__item Наклонно-направленное бурение