.service_section.service_section--177
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure5(src="./images/figure5.png" alt="")
    .container 
        .row
            .col-12.col-lg-6
                p RSK group оказывает услуги по наклонно-направленному бурению,
                    | телеметрическому сопровождению, каротажу во время бурения
                    | с использованием собственного и арендного оборудования,
                    | а также геологическому сопровождению проводки горизонтальных скважин.
        .blueprints
            .section__title
                h2 Проектирование скважин
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img1.png" alt="")
                    span.blueprints__description Проектирование профиля скважины и забойных компоновок
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img2.png" alt="")
                    span.blueprints__description Проектирование профиля скважины и забойных компоновок
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img3.png" alt="")
                    span.blueprints__description Проектирование профиля скважины и забойных компоновок
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img4.png" alt="")
                    span.blueprints__description Проектирование профиля скважины и забойных компоновок
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img5.png" alt="")
                    span.blueprints__description Проектирование профиля скважины и забойных компоновок
                    
.service_imaged_section.section_frame.section_frame--catalog.js-switcher
    img.section_frame__image.js-background-image(src='./images/serv_background.jpg' alt="")
    .container 
        .serv_content
            h2 Телеметрия, каротаж в процессе бурения (MWD/LWD)

            .serv_content__item 
                span.serv_content__text Предоставление телеметрического оборудования с гидравлическим и электромагнитным каналами связи в следующих конфигурациях
                ul 
                    li Инклинометрия+гамма (MWD/MWD+Gamma)
                    li Инклинометрия+гамма+резистивиметрия (MWD+LWD)
            .serv_content__item 
                span.serv_content__text Центр проектирования и сопровождения бурения
                ul 
                    li Контроль качества выполнения услуг
                    li Удаленный мониторинг бурения (для заказчика, отдельным сервисом)
                    li Контроль качества замеров

