.service_section.service_section--177
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure5(src="./images/figure5.png" alt="")
    .container 
        .row
            .col-12.col-lg-10
                p Большой автопарк с различной техникой для всех видов перевозок
        .blueprints
            .section__title
                h2 Грузоперевозки
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img21.png" alt="")
                    span.blueprints__description Фурами
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img22.png" alt="")
                    span.blueprints__description Негабаритные перевозки
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img23.png" alt="")
                    span.blueprints__description Перевозка труб
        
        .blueprints
            .section__title
                h2 Спецтехника
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img24.png" alt="")
                    span.blueprints__description Самосвалы
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img25.png" alt="")
                    span.blueprints__description Краны
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img26.png" alt="")
                    span.blueprints__description Тралы
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img27.png" alt="")
                    span.blueprints__description Экскаваторы
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img28.png" alt="")
                    span.blueprints__description Передвижные парообразующие установки (ППУ)
.service_imaged_section.section_frame.catalog_frame--catalog3
    img.section_frame__image.js-background-image(src='./images/catalog_image8.jpg' alt="")
    .container 
        .serv_content
            .row 
                .col-12.offset-lg-2.col-lg-10
                    h2 LOREM IPSUM
                    p RSK group с ответственностью относится к грузоперевозкам. Чтобы обеспечить должную транспортировку, предварительно изучаем габариты груза, состав, а также учитываем пожелания заказчика.
                    p Наши менеджеры ответят на вопросы, подберут транспорт и маршрут для скорейшей доставки в указанное место.