.service_section.service_section--177
    .container
        p Большой автопарк с различной техникой для всех видов перевозок

.dealers_section 
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image2.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image3.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image4.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image5.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image2.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image3.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image4.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image5.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image2.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image3.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image4.png" alt="")
        span.partners_slider__text Строительная компания
    .partners_slider__slide
        .partners_slider__img-container 
            img.partners_slider__image(src="./images/partners_slider_image5.png" alt="")
        span.partners_slider__text Строительная компания
