.service_section.service_section--130
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure5(src="./images/figure5.png" alt="")
    .container
        .production_inner
            .tech_card_links 
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__info
                                .tech_card_links__image-product
                                    img(src="./images/crane_image.png" alt="")
                                .tech_card_links__text
                                    h5
                                        span Кран 
                                        | Linden Comansa 5 LC 5010-5t
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Состояние
                                        span.tech_card_links__option Новый
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Грузоподъемность макс.
                                        span.tech_card_links__option 5 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 50 м
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 1 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Высота
                                        span.tech_card_links__option 48,2 м
                            .tech_card_links__price
                                span.tech_card_links__price-title Цена
                                span.tech_card_links__price-num От 300 000 рублей
                                a.btn.btn-primary(href="javascript:void(0)") Подробнее
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__info
                                .tech_card_links__image-product
                                    img(src="./images/crane_image.png" alt="")
                                .tech_card_links__text
                                    h5
                                        span Кран 
                                        | Linden Comansa 5 LC 5010-5t
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Состояние
                                        span.tech_card_links__option Новый
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Грузоподъемность макс.
                                        span.tech_card_links__option 5 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 50 м
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 1 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Высота
                                        span.tech_card_links__option 48,2 м
                            .tech_card_links__price
                                span.tech_card_links__price-title Цена
                                span.tech_card_links__price-num От 300 000 рублей
                                a.btn.btn-primary(href="javascript:void(0)") Подробнее
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__info
                                .tech_card_links__image-product
                                    img(src="./images/crane_image.png" alt="")
                                .tech_card_links__text
                                    h5
                                        span Кран 
                                        | Linden Comansa 5 LC 5010-5t
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Состояние
                                        span.tech_card_links__option Новый
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Грузоподъемность макс.
                                        span.tech_card_links__option 5 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 50 м
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Максимальный вылет
                                        span.tech_card_links__option 1 т
                                    .tech_card_links__wrap 
                                        span.tech_card_links__name Высота
                                        span.tech_card_links__option 48,2 м
                            .tech_card_links__price
                                span.tech_card_links__price-title Цена
                                span.tech_card_links__price-num От 300 000 рублей
                                a.btn.btn-primary(href="javascript:void(0)") Подробнее
                                
                        
                    //- a.tech_card_links__item(href="javascript:void(0)")
                    //-     .tech_card_links__content
                        
                    //- a.tech_card_links__item(href="javascript:void(0)")
                    //-     .tech_card_links__content
                        