.service_section.service_section--152
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    .container 
        .row
            .col-12.col-lg-6
                p Долотный сервис «РСК Груп» специализируется на предоставлении высокотехнологичного
                    | инженерного сервиса и обеспечении производственных объектов эффективным породоразрушающим
                    | инструментом для бурения нефтяных и газовых скважин.
        .blueprints
            .section__title
                h2 Проектирование скважин
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img6.png" alt="")
                    span.blueprints__description Инженерно-технологическое сопровождение отработки долот (долотный сервис)
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img7.png" alt="")
                    span.blueprints__description Аренда долот
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img8.png" alt="")
                    span.blueprints__description Поставка специнструмента и различных вспомогательных материалов, необходимых для отработки породоразрушающего инструмента

.service_imaged_section.section_frame.catalog_frame--catalog2.section_frame--black
    img.section_frame__image.js-background-image(src='./images/catalog_image5.jpg' alt="")
    .serv_content
        .container 
            .row 
                .serv_content__text.col-12.col-lg-6
                    p Тесное сотрудничество долотного сервиса с конструкторским отделом
                        | и технологами на производстве позволяет постоянно совершенствовать
                        | дизайны долот для достижения наилучших результатов по механической
                        | скорости проходки и стойкости породоразрушающего инструмента.
    .serv_content__decorated
        img.serv_content__dec-image1(src="./images/service_img1.png" alt="")
        img.serv_content__dec-image2(src="./images/service_img2.png" alt="")
        img.serv_content__dec-image3(src="./images/service_figure.png" alt="")


