section.partners_section
    .container 
        .section__title 
            h2 наши партнеры
            .card_slider_buttons
                button.card_slider_buttons__slider-button.js-parners_slider-button
                    svg 
                        use(xlink:href="images/sprite_build.svg#slider-arrow2")
                button.card_slider_buttons__slider-button.js-parners_slider-button
                    svg 
                        use(xlink:href="images/sprite_build.svg#slider-arrow2")
    .card_slider 
        .swiper.card_slider__swiper.partners_card_swiper.js-partners-swiper
            .swiper-wrapper.partners_slider__wrapper
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
                a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                    .partners_slider__img-container 
                        img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                    span.partners_slider__text Строительная компания
    a.partners_section__more(href="javascript:void(0)") Смотреть всё
    img.partners_section__figure(src="./images/figure4.png" alt="")