section.selling_section
    .selling_content
        .section__title 
            h2 мы поставляем
            .card_slider_buttons
                button.card_slider_buttons__slider-button.js-selling_slider-button
                    svg 
                        use(xlink:href="images/sprite_build.svg#slider-arrow2")
                button.card_slider_buttons__slider-button.js-selling_slider-button
                    svg 
                        use(xlink:href="images/sprite_build.svg#slider-arrow2")
        .card_slider 
            .swiper.card_slider__swiper.js-selling-swiper
                .swiper-wrapper.card_slider__wrapper.js-selling_wrapper 
                    .swiper-slide.card_slider__slide
                        h4 Специализированную технику
                        .card_slider__content 
                            .card_slider__count
                                span 01
                            .card_slider__image 
                                img.card_slider__img(src="./images/selling_slider1.png" alt="")
                    .swiper-slide.card_slider__slide
                        h4 Нефтегазовое оборудование
                        .card_slider__content 
                            .card_slider__count
                                span 02
                            .card_slider__image 
                                img.card_slider__img(src="./images/selling_slider2.png" alt="")
                    .swiper-slide.card_slider__slide
                        h4 Химреагенты
                        .card_slider__content 
                            .card_slider__count
                                span 03
                            .card_slider__image 
                                img.card_slider__img(src="./images/selling_slider3.png" alt="")
                    .swiper-slide.card_slider__slide
                        h4 Запасные части и Горюче-смазочные материалы
                        .card_slider__content 
                            .card_slider__count
                                span 04
                            .card_slider__image 
                                img.card_slider__img(src="./images/selling_slider4.png" alt="")
        .our_results 
            .section__title 
                h2 12 лет на рынке
            .our_results__nums.js-run_numbers 
                .our_results__item
                    span.our_results__num.js-run_number(data-start="0" data-end="2354" data-time="1000" data-step="1") 0
                    span.our_results__description довольных клиентов
                    span.our_results__more -
                .our_results__item
                    span.our_results__num.js-run_number(data-start="0" data-end="2354" data-time="1000" data-step="1") 0
                    span.our_results__description довольных клиентов
                    span.our_results__more -
                .our_results__item
                    span.our_results__num.js-run_number(data-start="0" data-end="2354" data-time="1000" data-step="1") 0
                    span.our_results__description довольных клиентов
                    span.our_results__more -
                .our_results__item
                    span.our_results__num.js-run_number(data-start="0" data-end="2354" data-time="1000" data-step="1") 0
                    span.our_results__description довольных клиентов
                    span.our_results__more -
    img.selling_content__background_figure(src="./images/figure2.png" alt="")
    img.selling_content__background_figure.selling_content__background_figure--mobile(src="./images/figure3.png" alt="")

