section.services_section 
    .services_frame 
        img.services_frame__image(src="./images/services_background.jpg" alt="")
        .container
            h2.services_title сервисные услуги
            .services_cards
                .services_cards__inner
                    a.services_cards__item(href="javascript:void(0)")
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image.jpg" alt="")
                            .services_cards__count 01
                        span.services_cards__text Сервис по Наклонно Направленному Бурению (ННБ)
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image2.jpg" alt="")
                            .services_cards__count 02
                        span.services_cards__text Цементирование скважин
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image3.jpg" alt="")
                            .services_cards__count 03
                        span.services_cards__text Буровые растворы
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image4.jpg" alt="")
                            .services_cards__count 04
                        span.services_cards__text Интегрированное управление проектами
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image5.jpg" alt="")
                            .services_cards__count 05
                        span.services_cards__text Закачивание скважин
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image6.jpg" alt="")
                            .services_cards__count 06
                        span.services_cards__text Долотный сервис
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image7.png" alt="")
                            .services_cards__count 07
                        span.services_cards__text Бурение обсадными трубами
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image8.jpg" alt="")
                            .services_cards__count 08
                        span.services_cards__text Обучение
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
                    a.services_cards__item(href="javascript:void(0)") 
                        .services_cards__image-container
                            img.services_cards__img(src="./images/services_image9.jpg" alt="")
                            .services_cards__count 09
                        span.services_cards__text Транспортные услуги
                            svg 
                                use(xlink:href="images/sprite_build.svg#arrow-back")
            .services_cards_slider
                .swiper.js-services_slider
                    .swiper-wrapper 
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image.jpg" alt="")
                                .services_cards__count 01
                            span.services_cards__text Сервис по Наклонно Направленному Бурению (ННБ)
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image2.jpg" alt="")
                                .services_cards__count 02
                            span.services_cards__text Цементирование скважин
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image3.jpg" alt="")
                                .services_cards__count 03
                            span.services_cards__text Буровые растворы
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image4.jpg" alt="")
                                .services_cards__count 04
                            span.services_cards__text Интегрированное управление проектами
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image5.jpg" alt="")
                                .services_cards__count 05
                            span.services_cards__text Закачивание скважин
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image6.jpg" alt="")
                                .services_cards__count 06
                            span.services_cards__text Долотный сервис
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image7.png" alt="")
                                .services_cards__count 07
                            span.services_cards__text Бурение обсадными трубами
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image8.jpg" alt="")
                                .services_cards__count 08
                            span.services_cards__text Обучение
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")
                        a.services_cards__item.swiper-slide(href="javascript:void(0)") 
                            .services_cards__image-container
                                img.services_cards__img(src="./images/services_image9.jpg" alt="")
                                .services_cards__count 09
                            span.services_cards__text Транспортные услуги
                                svg 
                                    use(xlink:href="images/sprite_build.svg#arrow-back")

                .services_cards__bullets.js-services_card-bullets
