.top_slider.js-videotube.js-swiper_slider
    h1.d-none Заголовок
    .swiper.js-top_slider
        .swiper-wrapper.top_wrapper 
            .swiper-slide
                img.top_image(src="./images/top_slider/top_slider_image.jpg" alt)
                .top_slider_content 
                    .top_slider_content__title.container
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.top_slider_content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing
            .swiper-slide
                img.top_image(src="./images/top_slider/top_slider_image.jpg" alt)
                .top_slider_content 
                    .top_slider_content__title.container
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.top_slider_content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing
            .swiper-slide
                img.top_image(src="./images/top_slider/top_slider_image.jpg" alt)
                .top_slider_content 
                    .top_slider_content__title.container
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.top_slider_content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing
                    .top_slider_content__video 
                        .top_slider_content__video-button 
                            button.top_slider_content__video-paly.tube(data-src="./images/video/coverr-palm-trees-at-twilight-8442-1080p.mp4" data-timer = 'true') 
                                svg 
                                    use(xlink:href="images/sprite_build.svg#modal_video_play")
                            span.top_slider_content__video-time.js-video_duration 
                            span.top_slider_content__video-description Презентационное видео
                        .top_slider_content__logotype
                            img(src="./images/logo_2.png" alt)
            .swiper-slide
                img.top_image(src="./images/top_slider/top_slider_image.jpg" alt)
                .top_slider_content 
                    .top_slider_content__title.container
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.top_slider_content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing
            .swiper-slide
                img.top_image(src="./images/top_slider/top_slider_image.jpg" alt)
                .top_slider_content 
                    .top_slider_content__title.container
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.top_slider_content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing
        .top_slider_content__video 
            .top_slider_content__video-button 
                button.top_slider_content__video-paly.tube(data-src="./images/video/coverr-palm-trees-at-twilight-8442-1080p.mp4" data-timer = 'true') 
                    svg 
                        use(xlink:href="images/sprite_build.svg#modal_video_play")
                span.top_slider_content__video-time.js-video_duration 
                span.top_slider_content__video-description Презентационное видео
            .top_slider_content__logotype
                img(src="./images/logo_2.png" alt)
        .bullets_container 
            .js-top_slider_bullets.top_slider_bullets



