.service_section.service_section--188
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    .container 
        .blueprints
            .section__title
                h2 Предоставляемые услуги
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img13.png" alt="")
                    span.blueprints__description Инженерно-технологическое сопровождение
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img14.png" alt="")
                    span.blueprints__description Заколонными пакерами
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img15.png" alt="")
                    span.blueprints__description Муфтами для цементирования обсадных колонн
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img16.png" alt="")
                    span.blueprints__description Подвесками хвостовиков
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img17.png" alt="")
                    span.blueprints__description Cкважинными фильтрами
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img18.png" alt="")
                    span.blueprints__description Cовременными системами гидроразрыва пласта