.catalog_section{
    margin-top: 81px;
}
.catalog_lists{
    padding-top: 117px;
    padding-bottom: 186px;
    position: relative;
    h2{
        font-family: $gilroy_b;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #fff;
        margin-bottom: 64px;
        text-transform: uppercase;

        @media(max-width:991px){
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 36px;
        }
    }
    nav{

    }
    .nav-tabs{
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 100px !important;
        .nav-link{
            font-family: $zetta;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
            background-color: transparent;
            border: none;
            padding: 0;
            padding-bottom: 24px;
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease;

            &:not(:last-child){
                margin-right: 4%;
                @media(max-width:991px){
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }

            &:hover{
                border-color: #fff;
                transition: all 0.3s ease;
            }

            &.active{
                border-color: #fff;
            }

            @media(max-width:1199px){
                font-size: 14px;
                line-height: 16px;
            }

            @media(max-width:991px){
                border-bottom: 0;
                padding-bottom: 0;
                text-align: left;
            }
        }

        @media(max-width:991px){
            border-bottom: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px !important;
        }

        @media(max-width:767px){
            margin-bottom: 60px !important;
        }
    }

    .tab-content{}
    .tab-pane{
        padding: 0 0 0 65px;

        @media(max-width:991px){
            padding: 0;
        }
    }

    .swiper-pagination-bullet{
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #FFFFFF;
        display: inline-block;
        opacity: 0.2;
        transition: all 0.3s ease;
    
        &.swiper-pagination-bullet-active{
            opacity: 1;
            transition: all 0.3s ease;
        }
    
        &:not(:last-child){
            margin-right: 15px;
        }
    }
    
    @media(max-width:767px){
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

.catalog_tab{
    .swiper{

        @media(max-width:991px){
            max-height:310px;
            overflow: hidden;
        }

    }
}

.catalog_tab__slide{

    .catalog_tab__item{
        display: flex;
        align-items: flex-start;
        &:not(:last-child){
            margin-bottom: 60px;

            @media(max-width:991px){
                margin-bottom: 31px;
            }
        }

        &:hover{
            .catalog_tab__link{
                text-decoration: underline;
                transition: all 0.3s ease;
                color: #fff;
            }
        }
    }    
}

.catalog_tab__bullets{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 95px;
    left: 0;
    width: 100%;
    padding-left:65px;


    @media(max-width:1742px){
        padding-left: 130px;
    }

    @media(max-width:1348px){
        padding-left: 200px;
    }

    @media(max-width:1199px){
        padding-left: 0;
        justify-content: center;
    }

    @media(max-width:991px){
        bottom: 87px;
    }

}


.catalog_tab__count{
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    font-family: $zetta;
    font-weight: 700;
    display: inline-block;
    margin-right: 24px;

    @media(max-width:991px){
        font-size: 16px;
        line-height: 20px;
    }
}

.catalog_tab__link{
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: $zetta;
    font-weight: 500;
    transition: all 0.3s ease;
    padding-bottom: 5px;

    @media(max-width:991px){
        font-size: 14px;
        line-height: 16px;
    }
}