.service_section.service_section--181
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure2(src="./images/figure5.png" alt="")
    img.service_section__bacground_figure3(src="./images/figure2.png" alt="")
    .container 
        .cards_layout
            .cards_layout__line
                .section__title 
                        h2 Буровое оборудование
                .tech_card_links 
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment1.png" alt="")
                            span.tech_card_links__title Стационарные буровые установки
                                | эшелонного и блочно-модульного исполнения
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment2.png" alt="")
                            span.tech_card_links__title Мобильные буровые установки
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/tequipment3.png" alt="")
                            span.tech_card_links__title Металлические конструкции
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment4.png" alt="")
                            span.tech_card_links__title Буровые насосы
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment5.png" alt="")
                            span.tech_card_links__title Компрессоры
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment6.png" alt="")
                            span.tech_card_links__title Системы очистки буровых растворов
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment7.png" alt="")
                            span.tech_card_links__title Системы верхних приводов и силовые вертлюги
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment8.png" alt="")
                            span.tech_card_links__title Подъемные системы
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment9.png" alt="")
                            span.tech_card_links__title Роторы
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment10.png" alt="")
                            span.tech_card_links__title Талевые системы
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment11.png" alt="")
                            span.tech_card_links__title Вертлюги
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment12.png" alt="")
                            span.tech_card_links__title Противовыбросовое оборудование (ПВО)
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment13.png" alt="")
                            span.tech_card_links__title Гидравлические ключи и станции
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment14.png" alt="")
                            span.tech_card_links__title Емкостное оборудование
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment15.png" alt="")
                            span.tech_card_links__title Циркуляционное оборудование
            .cards_layout__line
                .section__title 
                        h2 Технологическое оборудование
                .tech_card_links 
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment16.png" alt="")
                            span.tech_card_links__title Котельные установки
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment17.png" alt="")
                            span.tech_card_links__title Водоподготовительные установки
            .cards_layout__line
                .section__title 
                        h2 Энергетическое оборудование
                .tech_card_links 
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment18.png" alt="")
                            span.tech_card_links__title Дизельные электростанции
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment19.png" alt="")
                            span.tech_card_links__title Электродвигатели
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment20.png" alt="")
                            span.tech_card_links__title Низковольтные комплектные устройства
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment21.png" alt="")
                            span.tech_card_links__title Высоковольтные распределительные устройства
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/equipment22.png" alt="")
                            span.tech_card_links__title Системы управления электроприводами