.service_section.service_section--177
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    .container 
        .row
            .col-12
                p Разработанные компанией #[a(href="javascript:void(0)") Volant] инструменты для спуска обсадных колонн признаны самыми эффективными и надежными инструментами для бурения на обсадной колонне (CWD)». Высокие значения грузоподъемности, расхода и крутящего момента, а также неограниченная скорость вращения обеспечивают достижение наилучших результатов.
        .blueprints
            .section__title
                h2 Предоставляемые услуги
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img19.png" alt="")
                    span.blueprints__description Бурение на обсадной колонне вертикальных интервалов за один рейс
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img20.png" alt="")
                    span.blueprints__description Cпуск обсадной колонны с принудительным вращением
.service_imaged_section.section_frame.catalog_frame--catalog3
    img.section_frame__image.js-background-image(src='./images/catalog_image7.jpg' alt="")
    .container 
        .serv_content
            .row 
                .col-12.offset-lg-2.col-lg-10
                    h2 LOREM IPSUM
                    p Технология бурения на обсадных трубах и спуска
                        | с вращением – наилучшее решение при строительстве скважин
                        | в осложненных геологических условиях