// grid breakpoints
$screen-xs: 0;
$screen-sm: 750px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;
$screen-xxl: 1920px;

// container max widths
$container-sm: 880px;
$container-md: 1120px;
$container-lg: 1150px;
$container-xl: 1450px;
$container-xxl: 1483px;


$grid-breakpoints: (
        xs: $screen-xs,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl,
        xxl: $screen-xxl,
);

$container-max-widths: (
        sm: $container-sm,
        md: $container-md,
        lg: $container-lg,
        xl: $container-xl,
        xxl: $container-xxl,
);





