@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@400;700&family=Open+Sans&family=Play&display=swap');

@font-face {
    font-family: 'gilroy_m', sans-serif;
    src: url('./fonts/gilroy-medium-webfont.woff2') format('woff2'),
        url('./fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_octosquares', sans-serif;
    src: url('./fonts/ttoctosquares-regular-webfont.woff2') format('woff2'),
        url('./fonts/ttoctosquares-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy_r', sans-serif;
    src: url('./fonts/gilroy-regular-webfont.woff2') format('woff2'),
        url('./fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy_b', sans-serif;
    src: url('./fonts/gilroy-bold-webfont.woff2') format('woff2'),
        url('./fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}