// $font-family-secondary: 'Open Sans', sans-serif;

$alert-success: #28A745;
$alert-info: #6ECFFE;
$alert-danger: #DC3545;

$transition: .2s ease-in-out;

$hover_color:#FABE00;


$gilroy_m: 'gilroy_m', sans-serif;
$gilroy_r: 'gilroy_r', sans-serif;
$gilroy_b: 'gilroy_b', sans-serif;
$tt_: 'tt_octosquares', sans-serif;
$openSans: 'Open Sans', sans-serif;
$zetta:'Lexend Zetta', sans-serif;
$play:'Play', sans-serif;