.footer{
    padding-top: 139px;
    padding-bottom: 82px;
    position: relative;

    @media(max-width:567px){
        padding-top: 64px;
    }
}

.background_image{
    position: absolute;
    bottom: 0;
    right: 120px;

    @media(max-width:991px){
        width: 50%;
        bottom: 0;
        right: 120px;
    }
    @media(max-width:445px){
        left: 0;
        width: 100%;
    }
}

.footer_title{
    position: relative;
    margin-bottom: 33px;
    &::after{
        content: "";
        height: 1px;
        width: 100%;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 50%;
        background-color: #D9D9D9;
    }

    @media(max-width:567px){
        margin-bottom: 15px;
    }
}

.footer_title__text{
    font-family: $gilroy_b;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    z-index: 2;
    display: inline-block;
    background-color: #fff;
    padding-right: 63px;


    @media(max-width:567px){
        font-size: 20px;
        line-height: 24px;
    }
}

.footer_subtitle{
    font-size: 22px;
    line-height: 29px;
    color: #555555;
    font-family: $openSans;
    display: block;
    margin-bottom: 81px;

    @media(max-width:567px){
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 45px;
    }
}

.footer_layout{
    display: flex;
    align-items: flex-start;

    @media(max-width:991px){
        flex-direction: column;
        align-items: center;
    }
}

.footer_form{
    @media(max-width:991px){
        width: 100%;
    }
}

.footer_form__content{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 430px);
    grid-gap: 82px;
    align-items: start;
    .footer_form__inputs{
        .footer_form__input{
            margin-bottom: 48px;
            .form-control{
                border: none;
                background: transparent;
                border-bottom: 1px solid #D9D9D9;
                font-family: $gilroy_r;
                font-size: 18px;
                line-height: 21.6px;
                color: #000000;

                &::placeholder{
                    color: #000;
                    font-family: $gilroy_r;
                    font-size: 18px;
                    line-height: 21.6px;
                }

                &:focus{
                    box-shadow: none;
                }

                &.is-invalid{
                    border-color: #dc3545;
                }

                @media(max-width:767px){
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        @media(max-width:767px){
            width: 100%;
        }
    }

    @media(max-width:1599px){
        grid-template-columns: repeat(2, 350px);
        width: inherit;
    }

    @media(max-width:1092px){
        grid-template-columns: repeat(2, 290px);
    }
    @media(max-width:991px){
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    @media(max-width:767px){
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;
    }
}

.footer_form__texarea{
    padding: 12px 13px;
    border: 1px solid #D9D9D9;
    margin-bottom: 52px;
    textarea{
        border: none;
        width: 100%;
        font-family: $gilroy_r;
        font-size: 18px;
        line-height: 21.6px;
        color: #000000;
        min-height: 334px;

        &::placeholder{
            font-family: $gilroy_r;
            font-size: 18px;
            line-height: 21.6px;
            color: #000000;
        }
    }

    @media(max-width:767px){
        margin-bottom: 0;
    }
}


.footer_form{
    .btn{
        padding: 29px 170px;
        display: inline-block;
        margin-top: 56px;

        @media(max-width:991px){
            display: block;
            margin: 40px auto 0 auto;
        }
        @media(max-width:567px){
            padding: 19px 0;
            width: 100%;
        }
    }
}

.footer_form__checkTitle{
    color: #000;
    border-bottom: 1px solid #D9D9D9;
    font-size: 18px;
    line-height: 22px;
    font-family: $gilroy_r;
    display: block;
    padding-bottom: 12px;
}

.footer_form__checkboxes{
    @media(max-width:991px){
        width: 100%;
    }

    @media(max-width:767px){
        margin-top: 30px;
    }
}

.footer_form__items{
    margin-top: 32px;
}


.footer_form__checkbox{
    display: flex;
    align-items: center;


    &:not(:last-child){
        margin-bottom: 23px;
    }

    .form-check-input{
        display: block;
        min-width: 25px;
        min-height: 25px;
        margin-right: 14px;

        &:checked{
            background-color: #2A2A2A;
        }

        @media(max-width:767px){
            min-width: 17px;
            min-height: 17px;
            margin-right: 12px;
        }
    }

    .form-check-label{
        font-size: 18px;
        line-height: 19px;
        font-family: $gilroy_r;
        color: #000;
        margin-top: 6px;

        @media(max-width:767px){
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.footer_info{
    margin-left: auto;

    @media(max-width:991px){
        margin: 75px auto 0 auto;
    }
}

.footer_info__logo{
    display: block;
    margin-left: auto;

    @media(max-width:991px){
        margin: 0 auto;
    }
}


.footer_info__phone{
    color: #000;
    font-family: $tt_;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;

    svg{
        width: 18px;
        height: 18px;
        fill: #FABE00;
        display: inline-block;
        margin-right: 10px;
    }

    @media(max-width:991px){
        justify-content: center;
    }
}

.footer_info__address{
    font-size: 14px;
    line-height: 16px;
    font-family: $play;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    color: #000;
    
    svg{
        width: 13px;
        height: 18px;
        stroke: #FABE00;
        display: inline-block;
        margin-right: 10px;
    }

    @media(max-width:991px){
        justify-content: center;
    }
}

.footer_info__navSoc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    a{
        display: inline-block;
        &:not(:last-child){
            margin-right: 15px;
        }
    }

    svg{
        fill: #FABE00;
        width: 20px;
        height: 18px;
    }

    @media(max-width:991px){
        justify-content: center;
    }
}

.footer_info__licence{
    display: block;
    margin-top: 55px;
    font-size: 18px;
    line-height: 19px;
    font-family: $openSans;
    text-align: right;

    @media(max-width:991px){
        display: none;
    }
}

.footer_info__author{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media(max-width:991px){
        margin-top: 72px;
        padding-bottom: 33px;
    }
} 

.footer_info__author-link{
    font-size: 18px;
    line-height: 19px;
    font-family: $openSans;
    display: inline-block;
    text-align: right;

    &:not(:last-child){
        margin-bottom: 44px;
    }

    &.footer_info__author-link--polity{
        color: #FABE00;
    }
    &.footer_info__author-link--name{
        color: rgba($color: #000000, $alpha: 0.4);
    }

    @media(max-width:991px){
        text-align: center;

        &:not(:last-child){
            margin-bottom: 16px;
        }
    }
}