.breadcrumbs_frame
    img.breadcrumbs_frame__background(src="./images/breadcrumb_background13.jpg" alt="")
    .container
        .breadcrumb_content
            ul.breadcrums
                li.breadcrums__item
                    a(href="javascript:void(0)") Главная
                li.breadcrums__item
                    a(href="javascript:void(0)") Сервисные услуги
                li.breadcrums__item.breadcrums__item--current
                    a(href="javascript:void(0)") Компания RSK GROUP

            h1 Компания RSK GROUP