.service_section.service_section--177
    .container 
        .row 
            .col-12.col-lg-7
                h2 RSK group - это молодая динамично развивающаяся Компания
    .about_conmpany_section 
        .about_conmpany_section__item 
            .about_conmpany_section__image-frame 
                img.about_conmpany_section__image(src="./images/about_item_image1.jpg" alt="")
            .about_conmpany_section__text 
                span Специализируется на предоставлении инженерных сервисных услуг в области техники и технологии бурения нефтяных и газовых скважин;
        .about_conmpany_section__item 
            .about_conmpany_section__image-frame 
                img.about_conmpany_section__image(src="./images/about_item_image2.jpg" alt="")
            .about_conmpany_section__text 
                span Ориентированная на поставку специализированной техники отечественного и зарубежного производства различного класса (кранов, самосвалов, бульдозеров, сельскохозяйственной техники и т.д.), поставка нефтегазового оборудования.
        .about_conmpany_section__item 
            .about_conmpany_section__image-frame 
                img.about_conmpany_section__image(src="./images/about_item_image3.jpg" alt="")
            .about_conmpany_section__text 
                span Мы являемся официальными дилерами ведущих производителей бурового оборудования, специальной техники в России, так и за рубежом, что позволяет нам поставлять оборудование, отвечающее всем требованиям Заказчика по качеству и цене.
        .about_conmpany_section__item 
            .about_conmpany_section__image-frame 
                img.about_conmpany_section__image(src="./images/about_item_image4.jpg" alt="")
            .about_conmpany_section__text 
                span Лучшие квалифицированные специалисты, имеющие опыт работы в российских и зарубежных нефтесервисных компаниях