.service_section.service_section--177
    .container
        .row 
            .col-12.col-lg-9
                p Продажа строительный техники, запасных частей,
                    |  комплектующих узлов к ней на территории РФ,
                    | таких производителей как: JCB, Komatsu, CAT, Megalak, Bobcat, Liebherr,
                    | а также отечественных производителей.
        .service_partners_section.js-swiper_slider
            .section__title 
                h2 наши партнеры
                .card_slider_buttons
                    button.card_slider_buttons__slider-button.js-parners_slider-button
                        svg 
                            use(xlink:href="images/sprite_build.svg#slider-arrow2")
                    button.card_slider_buttons__slider-button.js-parners_slider-button
                        svg 
                            use(xlink:href="images/sprite_build.svg#slider-arrow2")
            .card_slider 
                .swiper.card_slider__swiper.partners_card_swiper.js-partners-swiper
                    .swiper-wrapper.partners_slider__wrapper
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image2.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image3.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image4.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image5.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                            span.partners_slider__text Строительная компания
                        a.swiper-slide.partners_slider__slide.js-partners_slide(href="javascript:void(0)")
                            .partners_slider__img-container 
                                img.partners_slider__image(src="./images/partners_slider_image.png" alt="")
                            span.partners_slider__text Строительная компания
            a.partners_section__more(href="javascript:void(0)") Смотреть всё
.service_section.service_section--tech_section
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure5(src="./images/figure5.png" alt="")
    .container 
        .section__title 
                h2 техника
        .tech_card_links 
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image1.png" alt="")
                    span.tech_card_links__title Краны
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image2.png" alt="")
                    span.tech_card_links__title Автовышки и подъемники
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image3.png" alt="")
                    span.tech_card_links__title Манипуляторы и эвакуаторы
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image4.png" alt="")
                    span.tech_card_links__title Седельные тягачи, полуприцепы и прицепы
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image5.png" alt="")
                    span.tech_card_links__title Самосвалы
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image6.png" alt="")
                    span.tech_card_links__title Экскаваторы
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image7.png" alt="")
                    span.tech_card_links__title Погрузчики
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image8.png" alt="")
                    span.tech_card_links__title Бульдозеры
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image9.png" alt="")
                    span.tech_card_links__title Автогрейдеры
            a.tech_card_links__item(href="javascript:void(0)")
                .tech_card_links__content
                    .tech_card_links__image_wrapper 
                        img.tech_card_links__image(src="./images/tech_image10.png" alt="")
                    span.tech_card_links__title Техника для нефтегазовой промышленности

