.service_section.service_section--152
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")

    .container 
        .row
            .col-12.col-lg-10
                p Штат департамента буровых растворов состоит из специалистов с опытом работы
                    | на проектах различной сложности. Качественное сервисное сопровождение
                    | обеспечивается слаженной работой #[mark полевых инженеров, координаторов проекта, сотрудников технической поддержки, главных технологов проектов, и подразумевает индивидуальный подход к каждой скважине]. Многолетний опыт,
                    | современные технологии в области буровых растворов гарантируют выполнение
                    | требуемых технико-экономических показателей бурения «С» соблюдением всех
                    | экологических норм, а также соблюдение всех экологических норм при
                    | строительстве скважин любой сложности
        .blueprints
            .section__title
                h2 Проектирование скважин
            .blueprints__items
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img9.png" alt="")
                    span.blueprints__description Приготовление, сопровождение и утилизация буровых растворов
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img10.png" alt="")
                    span.blueprints__description Лабораторная разработка рецептур промывочных жидкостей
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img11.png" alt="")
                    span.blueprints__description Подготовка программ промывки, гидравлические расчеты, разработка алгоритма борьбы с осложнениями
                .blueprints__item 
                    img.blueprints__image(src="./images/graphic_img12.png" alt="")
                    span.blueprints__description Качественная работа над улучшением предоставляемых услуг
    