.service_section.service_section--181
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure4(src="./images/figure5.png" alt="")
    .container 
        .cards_layout
            .cards_layout__line
                .section__title 
                        h2 для буровых растворов
                .tech_card_links.tech_card_links--lists
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/tech_image11.png" alt="")
                            .tech_card_links__lists
                                ul.tech_card_links__list
                                    li.tech_card_links__li Глинопорошки
                                    li.tech_card_links__li Кольматанты
                                ul.tech_card_links__list
                                    li.tech_card_links__li Наполнители
                                    li.tech_card_links__li Утяжелители
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/tech_image12.png" alt="")
                            .tech_card_links__lists
                                ul.tech_card_links__list
                                    li.tech_card_links__li Регуляторы вязкости
                                    li.tech_card_links__li Регуляторы фильтратоотдачи
                                ul.tech_card_links__list
                                    li.tech_card_links__li Смазочные добавки
                                    li.tech_card_links__li Разжижители
                                ul.tech_card_links__list
                                    li.tech_card_links__li Реагенты
                                    li.tech_card_links__li Пеногасители
            .cards_layout__line
                .section__title 
                        h2 Для цементирования скважин
                .tech_card_links.tech_card_links--lists
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/tech_image11.png" alt="")
                            .tech_card_links__lists
                                ul.tech_card_links__list
                                    li.tech_card_links__li Глинопорошки
                                    li.tech_card_links__li Кольматанты
                                ul.tech_card_links__list
                                    li.tech_card_links__li Наполнители
                    .tech_card_links__item
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/tech_image12.png" alt="")
                            .tech_card_links__lists
                                ul.tech_card_links__list
                                    li.tech_card_links__li Регуляторы вязкости
                                    li.tech_card_links__li Регуляторы фильтратоотдачи
                                ul.tech_card_links__list
                                    li.tech_card_links__li Смазочные добавки
                                    li.tech_card_links__li Разжижители

                            