.service_section.service_section--177
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    img.service_section__bacground_figure2(src="./images/figure5.png" alt="")
    img.service_section__bacground_figure3(src="./images/figure2.png" alt="")
    .container 
        .row
            .col-12
                p Интегрированное управление проектами по строительству скважин осуществляется
                    | функциональной группой и представляет собой комплекс технических,
                    | технологических, логистических, финансовых и административных решений,
                    | направленных на эффективное и качественное выполнение поставленных задач.
        .service_list_sections 
            section.service_list_section 
                .section__title 
                    h2 управление логистикой
                ul 
                    li  Собственный автомобильный парк техники обеспечивает выполнение вышкомонтажных и буровых работ в условиях полной автономности проектов.
            section.service_list_section 
                .section__title 
                    h2 СУПЕРВАЙЗИНГ
                ul 
                    li   Комплекс услуг, позволяющий повысить качество выполнения всех видов работ, обеспечить соблюдение всех законодательных норм и требований, в том числе в области ОТ ПБ ООС, и как следствие, оптимизировать затраты за счет централизованного управления производственными процессами.
            section.service_list_section 
                .section__title 
                    h2 управление логистикой
                ul 
                    li Подготовка и оценка возникающих рисков на всех этапах исполнения работ
                    li Разработка индивидуального плана строительства скважины учитывающего возможные осложнения по каждой секции совместно с исполнителем
                    li Подготовка заключительных и детальных отчетов по оценке риска.
            section.service_list_section 
                .section__title 
                    h2 управление логистикой
                ul 
                    li Разработку стратегии, постановку задач
                    li Отслеживание хода реализации проекта
                    li Управление ресурсами
                    li Контроль соблюдения законодательных требований со стороны подрядных организаций
.service_imaged_section.section_frame.catalog_frame--catalog3
    img.section_frame__image.js-background-image(src='./images/catalog_image6.jpg' alt="")
    .container 
        .serv_content
            .row 
                .col-12.offset-lg-2.col-lg-10
                    h2 Почему выбирают интегрированное управление проектом
                    ol.serv_content__num-list
                        li Бурение скважин с привлечением интегрированного управления ведётся с разработки программы на бурение до полного завершения работ на скважине. Весь технологический процесс ведётся под руководством Службы интегрированных проектов, и позволяет Заказчику в режиме реального времени мониторить весь цикл работ на каждом этапе строительства скважины, включая контроль работы бурового подрядчика.
                        li При привлечении интегрированного сервиса Заказчику нет необходимости содержать собственный штат профильных специалистов, что существенно сокращает стоимость строительства скважины.