.service_section.service_section--181
    img.service_section__bacground_figure1(src="./images/figure2.png" alt="")
    .container 
        .cards_layout
            .cards_layout__line
                .section__title 
                        h2 Смазочные материалы
                .tech_card_links 
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/barrel1.png" alt="")
                            span.tech_card_links__title Индустриальные масла
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/barrel2.png" alt="")
                            span.tech_card_links__title Смазочные масла
                    a.tech_card_links__item(href="javascript:void(0)")
                        .tech_card_links__content
                            .tech_card_links__image_wrapper 
                                img.tech_card_links__image(src="./images/barrel3.png" alt="")
                            span.tech_card_links__title Трансмиссоные масла